<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}" />
        <title>{% trans from 'AntBadgeBundle' %}badge{% endtrans %}</title>
        {% stylesheets
            '@AntBadgeBundle/Resources/public/css/bootstrapc.css'
            '@AntBadgeBundle/Resources/public/css/default.css'
        %}
            <link rel="stylesheet"  href="{{ asset_url }}" >
          {% endstylesheets %}
    </head>

    <body>

        {{ include('AntBadgeBundle:Default:navbar.html.twig') }}

        <h1>{% trans from 'AntBadgeBundle' %}badge{% endtrans %}</h1>

        

        {% block ant_badge_content %}{% endblock %}

        {% block body_js %}
          {% block body_js_jquery %}<script src="{% block body_js_jquery_onlineSrc %}//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js{% endblock %}"></script>
            <script>window.jQuery || document.write('<script src="{% block body_js_jquery_offlineSrc %}{% javascripts '@AntBadgeBundle/Resources/public/js/vendor/jquery-1.8.1.min.js' %}{{ asset_url }}{% endjavascripts %}{% endblock %}"><\/script>')</script>
          {% endblock body_js_jquery %}
          
          {% block body_js_final %}
          	{% javascripts '@AntBadgeBundle/Resources/public/js/vendor/bootstrap.min.js' %}
            	<script src="{{ asset_url }}"></script>
          	{% endjavascripts %}
          {% endblock %}
        {% endblock %}
    </body>
</html>