{% extends 'AntBadgeBundle::layout.html.twig' %}

{% block ant_badge_content %}

	{% for badge in badges %}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="pin" id="pin{{ badge.id }}">
			<a href="{{ path('ant_badge_view', {'badgeId': badge.id } ) }}" ><img src="{{ badge.imageIcon }}"/></a>	
			ID: {{ badge.id }} | 
			Name: {{ badge.name }} | 
			Description:{{ badge.description }} | 
			Group: {{ badge.badgeGroup }} 
			
			<a class="btn btn-danger btn-small elim" data-id="{{ badge.id }}">Delete</a>
			<a class="btn btn-small" href="{{path('ant_badge_edit', {'id': badge.id} )}}">Edit</a>
	{% else %}
		<div class="pin" id="pin{{ badge.id }}">
			<a href="{{ path('ant_badge_view', {'badgeId': badge.id } ) }}" ><img src="{{ badge.imageIcon }}"/></a>	
			Número de insignia: {{ badge.id }} | 
			{{ badge.name }} | 
			Se consigue por: {{ badge.description }} 
	{% endif %}
		
	</div>
			
		<hr>
	{% else %}
		There are not badges, you have not created any badge
	{% endfor %}
	

{% endblock %}

{% block body_js_final %}
{{ parent() }}
		<script>
				$(document).ready(function(){
				$(".elim").click(function(){
				var id =$(this).data("id");	
				var ant_badge_delete = "{{ app.request.uriForPath('/badge/')}}" + id +'/delete' ;
				var foto = $("#foto"+id);
	
	                if ( confirm("¿Are you sure you want to delete this badge?"))
		                {	                   
							$.ajax({
								type: "DELETE",
								dataType: "json",
								url: ant_badge_delete
							}).done(function( msg ) {
								$("#pin"+id).hide();
							});
						}
				  });
				});
			</script>
			
{% endblock %}