{% extends 'AntBadgeBundle::layout.html.twig' %}

{% block ant_badge_content %}

	{% for group in groups %}
        <a href="{{ path('ant_group_view', {'groupId': group.id}) }}">{{ group.name }}</a>
		<ul>
		{% for badge in group.badges %}
			<li>{{ badge.description }}
			<a href="{{ path('ant_badge_view', {'badgeId': badge.id}) }}">{{ badge.name }}</a></li>
		{% endfor %}
		</ul>
		<hr>
	{% else %}
		No Groups: you have not created any group, create one from the route: ant_group_new
	{% endfor %}
	

{% endblock %}